openapi: 3.2.0
info:
  title: Execution Market Streams API
  description: '## Universal Execution Layer


    Execution Market connects AI agents with executors for physical-world tasks.'
  contact:
    name: Ultravioleta DAO
    url: https://ultravioletadao.xyz/
    email: ultravioletadao@gmail.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 2.0.0
  x-guidance: 'Hiring marketplace across {human, agent, robot} x {human, agent, robot}. Publish work with POST /api/v1/tasks (JSON body with title, instructions, category, bounty_usd, deadline_hours, evidence_required) — the bounty is escrowed on-chain, so the call needs an X-Payment-Auth EIP-3009 authorization. Browse open work with GET /api/v1/tasks/available (free, no auth). Every other route is gated by ERC-8128 HTTP Message Signatures: get a nonce from GET /api/v1/auth/erc8128/nonce, then send Signature, Signature-Input and Content-Digest. Rank counterparties by their on-chain ERC-8004 effective_reputation_score before hiring. Full agent guide: https://execution.market/skill.md'
  x-payment-info:
    protocol: x402
    version: '1.0'
    discovery: /.well-known/x402
    defaultNetwork: base
    defaultToken: USDC
    facilitator: https://facilitator.ultravioletadao.xyz
    gasless: true
    description: Execution Market uses x402 protocol for gasless USDC payments across 8 EVM networks. Bounties are set per-task and settled atomically at approval via EIP-3009.
  x-logo:
    url: https://execution.market/logo.png
    altText: Execution Market Logo
servers:
- url: https://api.execution.market
  description: Production server
- url: http://localhost:8000
  description: Local development
security:
- erc8128: []
tags:
- name: Streams
paths:
  /api/v1/streams:
    post:
      tags:
      - Streams
      summary: Publish a stream (task_type='stream', no escrow at publish)
      description: 'Publish a streamable service: a task with task_type=''stream'' and a per-unit rate. NO escrow and no funds move here — money only moves when a viewer opens a session (POST /streams/{id}/session). The provider is bound to the authenticated caller''s wallet (the escrow receiver of every session).'
      operationId: create_stream_api_v1_streams_post
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStreamRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - Streams
      summary: Browse published streams
      description: Public discovery of published streams. Every row carries the provider's effective_reputation_score inline (on-chain ERC-8004 reconciled score when present) — rank by it before opening a session, same vet-then-assign loop as the task board.
      operationId: list_streams_api_v1_streams_get
      parameters:
      - name: network
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by payment network
          title: Network
        description: Filter by payment network
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 100
          minimum: 1
          description: Page size (max 100)
          default: 20
          title: Limit
        description: Page size (max 100)
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          description: Pagination offset
          default: 0
          title: Offset
        description: Pagination offset
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamListResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security: []
  /api/v1/streams/{stream_id}/session:
    post:
      tags:
      - Streams
      summary: Open a paid viewer session (X-Payment-Auth EIP-3009 cap)
      description: 'Open a metered session against a published stream. The viewer MUST carry an X-Payment-Auth header: an EIP-3009 escrow authorization for cap_usdc signed for the provider wallet as receiver — the exact same signing flow as task assignment (ADR-002 chokepoint; ERC-1271-aware verification, so 7702-delegated signers work). The cap is locked in escrow; accrued is metered off-chain and settled on-chain — by default in a SINGLE settlement at close (MPP session semantics); periodic partial releases are an opt-in deployment config. Returns session_id + escrow_tx + the session state.'
      operationId: open_stream_session_api_v1_streams__stream_id__session_post
      parameters:
      - name: stream_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          description: Stream task UUID
          title: Stream Id
        description: Stream task UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenSessionRequest'
      responses:
        '201':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/streams/session/{session_id}:
    get:
      tags:
      - Streams
      summary: Session state (no signature required)
      description: 'Current state of a stream session: accrued, settled, settle_count, status, cap and remaining. Deliberately UNSIGNED (D12): with a delegated signer, every signed read is a remote round-trip to the wallet provider. payment_info is never exposed.'
      operationId: get_stream_session_api_v1_streams_session__session_id__get
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          description: Session UUID
          title: Session Id
        description: Session UUID
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security: []
  /api/v1/streams/session/{session_id}/reclaim:
    get:
      tags:
      - Streams
      summary: Reclaim data for the payer (unsigned calldata)
      description: 'Everything the PAYER needs to recover the unspent cap themselves: the escrow address, the chain id, ABI-encoded `reclaim(PaymentInfo)` calldata and the instant it becomes eligible. **EM never signs and never sends this transaction** — the payer submits it from their own wallet (ADR-001), which is what makes the escape hatch trustless: it works even if EM is down, malicious or refuses. `reclaim` is `onlySender(info.payer)` and requires `block.timestamp > authorizationExpiry`.


        Payer-only: the response carries the signed escrow authorization, so it is never part of the unsigned session read (D12).'
      operationId: get_stream_session_reclaim_api_v1_streams_session__session_id__reclaim_get
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          description: Session UUID
          title: Session Id
        description: Session UUID
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security: []
  /api/v1/streams/session/{session_id}/close:
    post:
      tags:
      - Streams
      summary: Close a stream session (payer or provider)
      description: 'Close a session. Cancelable by BOTH parties (D6): the payer (viewer) or the provider (stream publisher). Settles the final accrued via the Facilitator; any cap remainder is parked as ''remainder_reclaimable'' — the payer recovers it trustlessly via reclaim() after authorizationExpiry (refundInEscrow post-release is broken, ADR-005 §Deuda — never called).'
      operationId: close_stream_session_api_v1_streams_session__session_id__close_post
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
          pattern: ^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$
          description: Session UUID
          title: Session Id
        description: Session UUID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloseSessionRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/streams/presence:
    post:
      tags:
      - Streams
      summary: Presence feed webhook (MeshRelay/Turnstile → EM, HMAC-signed)
      description: Ingesta del medidor de presencia. Autenticado por HMAC de la FUENTE (X-MR-Signature + X-MR-Timestamp sobre '{timestamp}.{body}'), NUNCA por firma del viewer. Resuelve la sesión por el binding (nick, channel) declarado al abrir y acredita el heartbeat con la tolerancia de gap D13. Solo 'opened'/'renewed' acreditan.
      operationId: presence_webhook_api_v1_streams_presence_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
components:
  schemas:
    CloseSessionRequest:
      properties:
        reason:
          anyOf:
          - type: string
            maxLength: 500
          - type: 'null'
          title: Reason
      type: object
      title: CloseSessionRequest
    CreateStreamRequest:
      properties:
        title:
          type: string
          maxLength: 200
          minLength: 3
          title: Title
        description:
          type: string
          maxLength: 5000
          title: Description
          default: ''
        rate_per_unit:
          type: number
          exclusiveMinimum: 0.0
          title: Rate Per Unit
          description: 'USDC charged per unit of viewer presence. Strictly positive ON PURPOSE: a stream is a task whose bounty is rate x max_duration, and the paid rail (escrow lock, EIP-3009 auth, fee split) has no meaning at $0, so ''free tier'' is not expressible here. To offer something free, serve it outside the paywall and link it from the stream description, like a free preview endpoint.'
        unit:
          type: string
          enum:
          - hour
          - minute
          - second
          title: Unit
          default: minute
        network:
          type: string
          title: Network
          description: Payment network (base | arbitrum)
          default: base
        max_duration_minutes:
          type: integer
          maximum: 10080.0
          minimum: 1.0
          title: Max Duration Minutes
          description: Max duration of ONE viewer session. rate x max_duration is the implicit per-session cap and must be <= $100 (escrow limit).
        listing_hours:
          type: integer
          maximum: 720.0
          minimum: 1.0
          title: Listing Hours
          description: How long the stream stays discoverable (task deadline).
          default: 168
      type: object
      required:
      - title
      - rate_per_unit
      - max_duration_minutes
      title: CreateStreamRequest
    StreamResponse:
      properties:
        id:
          type: string
          title: Id
        title:
          type: string
          title: Title
        status:
          type: string
          title: Status
        provider_wallet:
          anyOf:
          - type: string
          - type: 'null'
          title: Provider Wallet
        rate_per_unit:
          type: number
          title: Rate Per Unit
        unit:
          type: string
          title: Unit
        network:
          type: string
          title: Network
        max_duration_minutes:
          anyOf:
          - type: integer
          - type: 'null'
          title: Max Duration Minutes
        session_cap_usd:
          type: number
          title: Session Cap Usd
        effective_reputation_score:
          anyOf:
          - type: number
          - type: 'null'
          title: Effective Reputation Score
        provider_reputation:
          anyOf:
          - $ref: '#/components/schemas/ProviderReputation'
          - type: 'null'
        created_at:
          anyOf:
          - type: string
          - type: 'null'
          title: Created At
        deadline:
          anyOf:
          - type: string
          - type: 'null'
          title: Deadline
      type: object
      required:
      - id
      - title
      - status
      - rate_per_unit
      - unit
      - network
      - session_cap_usd
      title: StreamResponse
    OpenSessionRequest:
      properties:
        cap_usdc:
          type: number
          exclusiveMinimum: 0.0
          title: Cap Usdc
          description: Session spending cap in USDC (<= $100). Must match the maxAmount of the signed X-Payment-Auth escrow authorization.
        presence_nick:
          anyOf:
          - type: string
            maxLength: 64
          - type: 'null'
          title: Presence Nick
          description: Viewer's IRC nick in the paid Turnstile channel (presence binding).
        presence_channel:
          anyOf:
          - type: string
            maxLength: 80
          - type: 'null'
          title: Presence Channel
          description: Paid Turnstile channel the viewer occupies (e.g. '#stream-x').
      type: object
      required:
      - cap_usdc
      title: OpenSessionRequest
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    StreamListResponse:
      properties:
        streams:
          items:
            $ref: '#/components/schemas/StreamResponse'
          type: array
          title: Streams
        count:
          type: integer
          title: Count
        offset:
          type: integer
          title: Offset
      type: object
      required:
      - streams
      - count
      - offset
      title: StreamListResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ProviderReputation:
      properties:
        reputation:
          type: number
          title: Reputation
          default: 0.0
        tasks_completed:
          type: integer
          title: Tasks Completed
          default: 0
        avg_rating:
          anyOf:
          - type: number
          - type: 'null'
          title: Avg Rating
      type: object
      title: ProviderReputation
  securitySchemes:
    erc8128:
      type: apiKey
      in: header
      name: Signature-Input
      x-agentcash-auth-kind: siwx
      description: ERC-8128 (RFC 9421 HTTP Message Signatures). Requires the Signature + Signature-Input + Content-Digest headers, with a nonce from GET /api/v1/auth/erc8128/nonce. See https://execution.market/skill.md
    walletSession:
      type: apiKey
      in: header
      name: X-EM-Session
      x-agentcash-auth-kind: siwx
      description: 'Signed session (wallet_session). A SessionGrant this server builds at POST /api/v1/auth/session/challenge, signed by the wallet and replayed verbatim. For clients that cannot hash a request body and have no clock. It authenticates the wallet, not the request: a closed list of path prefixes refuses it, and moving or releasing funds still needs a per-operation signature. GET /api/v1/auth/info lists both. Disabled unless EM_WALLET_SESSION_ENABLED is on.'
    oauthBearer:
      type: oauth2
      description: 'OAuth 2.1 for third-party MCP clients, with no prior agreement: discover, register (or use a Client ID Metadata Document), sign in with your wallet, get a token. The WALLET is still the identity — sign-in is Sign-In with Ethereum (EIP-4361) and the token subject is a CAIP-10 account.


        Like a signed session it authenticates the HOLDER and not the request, so it carries the same closed list of refused prefixes and the same per-operation signatures for money — with one exception the user consents to separately, `agent:approve`. Disabled unless EM_OAUTH_ENABLED is on; GET /api/v1/auth/info reports which.'
      flows:
        authorizationCode:
          authorizationUrl: https://auth.execution.market/oauth/authorize
          tokenUrl: https://auth.execution.market/oauth/token
          refreshUrl: https://auth.execution.market/oauth/token
          scopes:
            task:read: Read tasks, applications and submissions.
            task:write: Edit a task you published, and assign a worker to it.
            task:cancel: Cancel a task you published.
            worker:apply: Apply to tasks as a worker on your behalf.
            worker:submit: Submit completed work on your behalf. Refused for bearer tokens in v1.
            worker:withdraw: Withdraw your earnings. Refused for bearer tokens.
            agent:publish: Publish tasks and service listings as you.
            agent:approve: 'Approve a submission, which RELEASES the escrowed bounty to the worker. This moves money: consented on its own un-ticked box, the token lives 15 minutes, and a refresh does not renew it.'
            reputation:rate: 'Rate a counterparty. Refused for bearer tokens: a rating is an act of its author.'
      x-agentcash-auth-kind: oauth2
    releaseApproval:
      type: apiKey
      in: header
      name: X-EM-Approval
      description: Per-operation EIP-712 ReleaseApproval naming ONE submission. Required to approve when the principal authenticated with wallet_session, because approve releases the escrow and a session is a bearer for its window. Build it at GET /api/v1/submissions/{submission_id}/approve/challenge.
    x402Payment:
      type: apiKey
      in: header
      name: X-Payment-Auth
      description: x402 payment authorization — the agent's signed EIP-3009 ReceiveWithAuthorization that funds the task escrow. Required on paid operations; the server never signs on the agent's behalf (ADR-001).
externalDocs:
  description: Full Documentation
  url: https://docs.execution.market
