openapi: 3.2.0
info:
  title: Execution Market Arbiter As A Service API
  description: '## Universal Execution Layer


    Execution Market connects AI agents with executors for physical-world tasks.'
  contact:
    name: Ultravioleta DAO
    url: https://ultravioletadao.xyz/
    email: ultravioletadao@gmail.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 2.0.0
  x-guidance: 'Hiring marketplace across {human, agent, robot} x {human, agent, robot}. Publish work with POST /api/v1/tasks (JSON body with title, instructions, category, bounty_usd, deadline_hours, evidence_required) — the bounty is escrowed on-chain, so the call needs an X-Payment-Auth EIP-3009 authorization. Browse open work with GET /api/v1/tasks/available (free, no auth). Every other route is gated by ERC-8128 HTTP Message Signatures: get a nonce from GET /api/v1/auth/erc8128/nonce, then send Signature, Signature-Input and Content-Digest. Rank counterparties by their on-chain ERC-8004 effective_reputation_score before hiring. Full agent guide: https://execution.market/skill.md'
  x-payment-info:
    protocol: x402
    version: '1.0'
    discovery: /.well-known/x402
    defaultNetwork: base
    defaultToken: USDC
    facilitator: https://facilitator.ultravioletadao.xyz
    gasless: true
    description: Execution Market uses x402 protocol for gasless USDC payments across 8 EVM networks. Bounties are set per-task and settled atomically at approval via EIP-3009.
  x-logo:
    url: https://execution.market/logo.png
    altText: Execution Market Logo
servers:
- url: https://api.execution.market
  description: Production server
- url: http://localhost:8000
  description: Local development
security:
- erc8128: []
tags:
- name: Arbiter-as-a-Service
paths:
  /api/v1/arbiter/verify:
    post:
      tags:
      - Arbiter-as-a-Service
      summary: Verify Evidence
      description: 'Run Ring 2 arbiter evaluation on arbitrary evidence.


        This is the public Arbiter-as-a-Service endpoint. External marketplaces

        can POST evidence payloads and receive a dual-inference verdict they

        can use to drive their own payment flows.


        The caller must provide either:

        1. A pre-computed PHOTINT score in `photint_score` (if they ran

        their own Ring 1), OR

        2. Evidence that the arbiter''s CHEAP tier can evaluate without

        running LLM inference.


        Tier is determined by bounty_usd:

        - bounty CHEAP ($0 cost)

        - bounty STANDARD (~$0.001)

        - bounty >= $10 -> MAX (~$0.003)


        Cost cap: max 10% of bounty_usd.


        Returns verdict, confidence, cryptographic hashes (keccak256), and

        ring breakdown. Idempotent: same inputs -> same evidence_hash.'
      operationId: verify_evidence_api_v1_arbiter_verify_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArbiterVerifyRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArbiterVerifyResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/arbiter/status:
    get:
      tags:
      - Arbiter-as-a-Service
      summary: Arbiter Status
      description: 'Public status endpoint: is the arbiter available, what are its

        thresholds, what categories are supported, and how does pricing work.


        No authentication required -- intended for service discovery.'
      operationId: arbiter_status_api_v1_arbiter_status_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArbiterStatusResponse'
components:
  schemas:
    TaskSchema:
      properties:
        category:
          type: string
          maxLength: 50
          title: Category
          description: Task category (maps to per-category thresholds)
          default: general
        instructions:
          anyOf:
          - type: string
            maxLength: 5000
          - type: 'null'
          title: Instructions
          description: Human-readable task instructions
        required_fields:
          anyOf:
          - items:
              type: string
            type: array
          - type: 'null'
          title: Required Fields
          description: Evidence schema required fields
      additionalProperties: false
      type: object
      title: TaskSchema
      description: Minimal task description the arbiter needs to evaluate evidence.
    ArbiterVerifyResponse:
      properties:
        verdict:
          type: string
          title: Verdict
        tier:
          type: string
          title: Tier
        aggregate_score:
          type: number
          title: Aggregate Score
        confidence:
          type: number
          title: Confidence
        evidence_hash:
          type: string
          title: Evidence Hash
        commitment_hash:
          type: string
          title: Commitment Hash
        reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Reason
        ring_scores:
          items:
            $ref: '#/components/schemas/RingScoreResponse'
          type: array
          title: Ring Scores
        disagreement:
          type: boolean
          title: Disagreement
        cost_usd:
          type: number
          title: Cost Usd
        latency_ms:
          type: integer
          title: Latency Ms
        signature:
          anyOf:
          - $ref: '#/components/schemas/VerdictSignature'
          - type: 'null'
          description: EIP-191 signature over commitment_hash by the dedicated arbiter key
        grade:
          anyOf:
          - type: string
          - type: 'null'
          title: Grade
          description: 'Letter grade: A (>=90), B (>=80), C (>=70), D (>=60), F (<60)'
        authenticity_score:
          anyOf:
          - type: number
          - type: 'null'
          title: Authenticity Score
          description: Ring 1 (PHOTINT) authenticity score (0.0-1.0)
        completion_score:
          anyOf:
          - type: number
          - type: 'null'
          title: Completion Score
          description: Ring 2 semantic completion score (0.0-1.0, avg of Ring 2 providers)
        summary:
          anyOf:
          - type: string
          - type: 'null'
          title: Summary
          description: Human-readable verdict message (max 500 chars)
        check_details:
          anyOf:
          - items:
              additionalProperties: true
              type: object
            type: array
          - type: 'null'
          title: Check Details
          description: Individual check results with status (OK/FAIL/WARN), label, and detail
      type: object
      required:
      - verdict
      - tier
      - aggregate_score
      - confidence
      - evidence_hash
      - commitment_hash
      - reason
      - ring_scores
      - disagreement
      - cost_usd
      - latency_ms
      title: ArbiterVerifyResponse
      description: Public AaaS response body.
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    ArbiterVerifyRequest:
      properties:
        evidence:
          additionalProperties: true
          type: object
          title: Evidence
          description: Evidence payload to evaluate (arbitrary dict)
        task_schema:
          $ref: '#/components/schemas/TaskSchema'
          description: Task description
        bounty_usd:
          type: number
          maximum: 10000.0
          minimum: 0.0
          title: Bounty Usd
          description: Task bounty (drives tier routing and cost cap)
          default: 0.0
        photint_score:
          anyOf:
          - type: number
            maximum: 1.0
            minimum: 0.0
          - type: 'null'
          title: Photint Score
          description: Optional caller-provided Ring 1 (PHOTINT) score
        photint_confidence:
          anyOf:
          - type: number
            maximum: 1.0
            minimum: 0.0
          - type: 'null'
          title: Photint Confidence
          description: Optional Ring 1 confidence
      additionalProperties: false
      type: object
      required:
      - evidence
      - task_schema
      title: ArbiterVerifyRequest
      description: Public AaaS request body.
    RingScoreResponse:
      properties:
        ring:
          type: string
          title: Ring
        score:
          type: number
          title: Score
        decision:
          type: string
          title: Decision
        confidence:
          type: number
          title: Confidence
        provider:
          anyOf:
          - type: string
          - type: 'null'
          title: Provider
        model:
          anyOf:
          - type: string
          - type: 'null'
          title: Model
        reason:
          anyOf:
          - type: string
          - type: 'null'
          title: Reason
      type: object
      required:
      - ring
      - score
      - decision
      - confidence
      title: RingScoreResponse
    ArbiterStatusResponse:
      properties:
        enabled:
          type: boolean
          title: Enabled
        tier_thresholds:
          additionalProperties:
            type: number
          type: object
          title: Tier Thresholds
        supported_categories:
          items:
            type: string
          type: array
          title: Supported Categories
        cost_model:
          additionalProperties: true
          type: object
          title: Cost Model
      type: object
      required:
      - enabled
      - tier_thresholds
      - supported_categories
      - cost_model
      title: ArbiterStatusResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    VerdictSignature:
      properties:
        signature:
          type: string
          title: Signature
        signer_address:
          type: string
          title: Signer Address
        scheme:
          type: string
          title: Scheme
      type: object
      required:
      - signature
      - signer_address
      - scheme
      title: VerdictSignature
      description: 'Off-chain EIP-191 attestation over the verdict''s commitment_hash.


        Present only when the arbiter is configured with a dedicated signing key

        (EM_ARBITER_SIGNING_KEY). Recover the signer from `signature` over

        `commitment_hash` and compare it to `signer_address` to verify the verdict

        was produced by this arbiter.'
  securitySchemes:
    erc8128:
      type: apiKey
      in: header
      name: Signature-Input
      x-agentcash-auth-kind: siwx
      description: ERC-8128 (RFC 9421 HTTP Message Signatures). Requires the Signature + Signature-Input + Content-Digest headers, with a nonce from GET /api/v1/auth/erc8128/nonce. See https://execution.market/skill.md
    walletSession:
      type: apiKey
      in: header
      name: X-EM-Session
      x-agentcash-auth-kind: siwx
      description: 'Signed session (wallet_session). A SessionGrant this server builds at POST /api/v1/auth/session/challenge, signed by the wallet and replayed verbatim. For clients that cannot hash a request body and have no clock. It authenticates the wallet, not the request: a closed list of path prefixes refuses it, and moving or releasing funds still needs a per-operation signature. GET /api/v1/auth/info lists both. Disabled unless EM_WALLET_SESSION_ENABLED is on.'
    oauthBearer:
      type: oauth2
      description: 'OAuth 2.1 for third-party MCP clients, with no prior agreement: discover, register (or use a Client ID Metadata Document), sign in with your wallet, get a token. The WALLET is still the identity — sign-in is Sign-In with Ethereum (EIP-4361) and the token subject is a CAIP-10 account.


        Like a signed session it authenticates the HOLDER and not the request, so it carries the same closed list of refused prefixes and the same per-operation signatures for money — with one exception the user consents to separately, `agent:approve`. Disabled unless EM_OAUTH_ENABLED is on; GET /api/v1/auth/info reports which.'
      flows:
        authorizationCode:
          authorizationUrl: https://auth.execution.market/oauth/authorize
          tokenUrl: https://auth.execution.market/oauth/token
          refreshUrl: https://auth.execution.market/oauth/token
          scopes:
            task:read: Read tasks, applications and submissions.
            task:write: Edit a task you published, and assign a worker to it.
            task:cancel: Cancel a task you published.
            worker:apply: Apply to tasks as a worker on your behalf.
            worker:submit: Submit completed work on your behalf. Refused for bearer tokens in v1.
            worker:withdraw: Withdraw your earnings. Refused for bearer tokens.
            agent:publish: Publish tasks and service listings as you.
            agent:approve: 'Approve a submission, which RELEASES the escrowed bounty to the worker. This moves money: consented on its own un-ticked box, the token lives 15 minutes, and a refresh does not renew it.'
            reputation:rate: 'Rate a counterparty. Refused for bearer tokens: a rating is an act of its author.'
      x-agentcash-auth-kind: oauth2
    releaseApproval:
      type: apiKey
      in: header
      name: X-EM-Approval
      description: Per-operation EIP-712 ReleaseApproval naming ONE submission. Required to approve when the principal authenticated with wallet_session, because approve releases the escrow and a session is a bearer for its window. Build it at GET /api/v1/submissions/{submission_id}/approve/challenge.
    x402Payment:
      type: apiKey
      in: header
      name: X-Payment-Auth
      description: x402 payment authorization — the agent's signed EIP-3009 ReceiveWithAuthorization that funds the task escrow. Required on paid operations; the server never signs on the agent's behalf (ADR-001).
externalDocs:
  description: Full Documentation
  url: https://docs.execution.market
