openapi: 3.2.0
info:
  title: Execution Market Taxímetro API
  description: '## Universal Execution Layer


    Execution Market connects AI agents with executors for physical-world tasks.'
  contact:
    name: Ultravioleta DAO
    url: https://ultravioletadao.xyz/
    email: ultravioletadao@gmail.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 2.0.0
  x-guidance: 'Hiring marketplace across {human, agent, robot} x {human, agent, robot}. Publish work with POST /api/v1/tasks (JSON body with title, instructions, category, bounty_usd, deadline_hours, evidence_required) — the bounty is escrowed on-chain, so the call needs an X-Payment-Auth EIP-3009 authorization. Browse open work with GET /api/v1/tasks/available (free, no auth). Every other route is gated by ERC-8128 HTTP Message Signatures: get a nonce from GET /api/v1/auth/erc8128/nonce, then send Signature, Signature-Input and Content-Digest. Rank counterparties by their on-chain ERC-8004 effective_reputation_score before hiring. Full agent guide: https://execution.market/skill.md'
  x-payment-info:
    protocol: x402
    version: '1.0'
    discovery: /.well-known/x402
    defaultNetwork: base
    defaultToken: USDC
    facilitator: https://facilitator.ultravioletadao.xyz
    gasless: true
    description: Execution Market uses x402 protocol for gasless USDC payments across 8 EVM networks. Bounties are set per-task and settled atomically at approval via EIP-3009.
  x-logo:
    url: https://execution.market/logo.png
    altText: Execution Market Logo
servers:
- url: https://api.execution.market
  description: Production server
- url: http://localhost:8000
  description: Local development
security:
- erc8128: []
tags:
- name: Taxímetro
paths:
  /api/v1/taximetro/{channel_id}/stream:
    get:
      tags:
      - Taxímetro
      summary: Taximetro Stream
      description: 'SSE stream of pay.sh MPP session events for a single channel.


        Sequence on each connection:

        1. (optional) Replay historical events from mpp_session_events

        2. Poll pay.sh GET /__402/payment-channels/receipt/{channel_id}

        3. Heartbeat `settlement_pending` per tick; on finalize, persist + relay

        `settlement_complete` and end the stream


        Disconnects mid-stream are normal — the client reconnects with

        `replay=true` and the gap is filled from the DB mirror. Idempotency

        on the mirror means a client retrying inside the replay window may

        see a few duplicates, but the SSE protocol''s `id:` field is what

        browsers use for last-event-id replay anyway. We don''t set `id:`

        today; clients should de-dupe by tx_hash on settlement events.'
      operationId: taximetro_stream_api_v1_taximetro__channel_id__stream_get
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: string
          title: Channel Id
      - name: replay
        in: query
        required: false
        schema:
          type: boolean
          description: If true, flush historical events from the DB mirror before live stream starts.
          default: true
          title: Replay
        description: If true, flush historical events from the DB mirror before live stream starts.
      - name: replay_limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
            maximum: 1000
            minimum: 1
          - type: 'null'
          description: Override max replay events (capped at EM_TAXIMETRO_REPLAY_LIMIT).
          title: Replay Limit
        description: Override max replay events (capped at EM_TAXIMETRO_REPLAY_LIMIT).
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/taximetro/{channel_id}/history:
    get:
      tags:
      - Taxímetro
      summary: Taximetro History
      description: 'JSON dump of recent events for a channel. Used by tests + admin UI.


        Not an SSE endpoint — just a one-shot fetch from the DB mirror.

        Returns events in chronological order (oldest first).'
      operationId: taximetro_history_api_v1_taximetro__channel_id__history_get
      parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: string
          title: Channel Id
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 1000
          minimum: 1
          default: 50
          title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /api/v1/taximetro/health:
    get:
      tags:
      - Taxímetro
      summary: Taximetro Health
      description: Reports relay readiness without exposing pay.sh internals.
      operationId: taximetro_health_api_v1_taximetro_health_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      security: []
  /api/v1/tasks/{task_id}/meter/stream:
    get:
      tags:
      - Taxímetro
      summary: Task Meter Stream
      description: 'SSE meter for one task — PUBLIC, readable by a plain ``EventSource``.


        Frames:

        * ``meter_state`` the whole projection. First frame, and again

        whenever the money or the status moves.

        * ``voucher_accepted`` one unit landed: cumulative total and its index.

        * ``cap_reached`` the ceiling is spent. The work may continue; the

        meter cannot. Emitted once.

        * ``settled`` the channel settled on-chain, with the signature.

        * ``keepalive`` nothing happened; the connection is alive.


        No credentials, on purpose: the bounty is already public in the feed, and

        what this adds is *how much of it has been consumed*. Everything that could

        identify the channel or its counterparties is left out by allowlist.'
      operationId: task_meter_stream_api_v1_tasks__task_id__meter_stream_get
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          title: Task Id
      - name: replay
        in: query
        required: false
        schema:
          type: boolean
          description: Flush the vouchers already recorded before going live.
          default: true
          title: Replay
        description: Flush the vouchers already recorded before going live.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security: []
  /api/v1/tasks/{task_id}/meter:
    get:
      tags:
      - Taxímetro
      summary: Task Meter Snapshot
      description: The same projection, once. For a client that cannot hold a stream open.
      operationId: task_meter_snapshot_api_v1_tasks__task_id__meter_get
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          title: Task Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security: []
  /api/v1/tasks/{task_id}/channel/public:
    get:
      tags:
      - Taxímetro
      summary: Task Channel Public
      description: 'The channel funding this task, as a reader may see it. No credentials.


        404 rather than 503 when switched off - the same shape the router gating

        uses for ``EM_PAYSHELL_ENABLED``, so "off" reads identically at both

        layers instead of leaking that the surface exists but is closed.'
      operationId: task_channel_public_api_v1_tasks__task_id__channel_public_get
      parameters:
      - name: task_id
        in: path
        required: true
        schema:
          type: string
          title: Task Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security: []
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
  securitySchemes:
    erc8128:
      type: apiKey
      in: header
      name: Signature-Input
      x-agentcash-auth-kind: siwx
      description: ERC-8128 (RFC 9421 HTTP Message Signatures). Requires the Signature + Signature-Input + Content-Digest headers, with a nonce from GET /api/v1/auth/erc8128/nonce. See https://execution.market/skill.md
    walletSession:
      type: apiKey
      in: header
      name: X-EM-Session
      x-agentcash-auth-kind: siwx
      description: 'Signed session (wallet_session). A SessionGrant this server builds at POST /api/v1/auth/session/challenge, signed by the wallet and replayed verbatim. For clients that cannot hash a request body and have no clock. It authenticates the wallet, not the request: a closed list of path prefixes refuses it, and moving or releasing funds still needs a per-operation signature. GET /api/v1/auth/info lists both. Disabled unless EM_WALLET_SESSION_ENABLED is on.'
    oauthBearer:
      type: oauth2
      description: 'OAuth 2.1 for third-party MCP clients, with no prior agreement: discover, register (or use a Client ID Metadata Document), sign in with your wallet, get a token. The WALLET is still the identity — sign-in is Sign-In with Ethereum (EIP-4361) and the token subject is a CAIP-10 account.


        Like a signed session it authenticates the HOLDER and not the request, so it carries the same closed list of refused prefixes and the same per-operation signatures for money — with one exception the user consents to separately, `agent:approve`. Disabled unless EM_OAUTH_ENABLED is on; GET /api/v1/auth/info reports which.'
      flows:
        authorizationCode:
          authorizationUrl: https://auth.execution.market/oauth/authorize
          tokenUrl: https://auth.execution.market/oauth/token
          refreshUrl: https://auth.execution.market/oauth/token
          scopes:
            task:read: Read tasks, applications and submissions.
            task:write: Edit a task you published, and assign a worker to it.
            task:cancel: Cancel a task you published.
            worker:apply: Apply to tasks as a worker on your behalf.
            worker:submit: Submit completed work on your behalf. Refused for bearer tokens in v1.
            worker:withdraw: Withdraw your earnings. Refused for bearer tokens.
            agent:publish: Publish tasks and service listings as you.
            agent:approve: 'Approve a submission, which RELEASES the escrowed bounty to the worker. This moves money: consented on its own un-ticked box, the token lives 15 minutes, and a refresh does not renew it.'
            reputation:rate: 'Rate a counterparty. Refused for bearer tokens: a rating is an act of its author.'
      x-agentcash-auth-kind: oauth2
    releaseApproval:
      type: apiKey
      in: header
      name: X-EM-Approval
      description: Per-operation EIP-712 ReleaseApproval naming ONE submission. Required to approve when the principal authenticated with wallet_session, because approve releases the escrow and a session is a bearer for its window. Build it at GET /api/v1/submissions/{submission_id}/approve/challenge.
    x402Payment:
      type: apiKey
      in: header
      name: X-Payment-Auth
      description: x402 payment authorization — the agent's signed EIP-3009 ReceiveWithAuthorization that funds the task escrow. Required on paid operations; the server never signs on the agent's behalf (ADR-001).
externalDocs:
  description: Full Documentation
  url: https://docs.execution.market
