openapi: 3.2.0
info:
  title: Execution Market World ID API
  version: 2.0.0
  contact:
    name: Ultravioleta DAO
    url: https://ultravioletadao.xyz/
    email: ultravioletadao@gmail.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  x-guidance: 'Hiring marketplace across {human, agent, robot} x {human, agent, robot}. Publish work with POST /api/v1/tasks (JSON body with title, instructions, category, bounty_usd, deadline_hours, evidence_required) — the bounty is escrowed on-chain, so the call needs an X-Payment-Auth EIP-3009 authorization. Browse open work with GET /api/v1/tasks/available (free, no auth). Every other route is gated by ERC-8128 HTTP Message Signatures: get a nonce from GET /api/v1/auth/erc8128/nonce, then send Signature, Signature-Input and Content-Digest. Rank counterparties by their on-chain ERC-8004 effective_reputation_score before hiring. Full agent guide: https://execution.market/skill.md'
  x-logo:
    url: https://execution.market/logo.png
    altText: Execution Market Logo
  x-payment-info:
    protocol: x402
    version: '1.0'
    discovery: /.well-known/x402
    defaultNetwork: base
    defaultToken: USDC
    facilitator: https://facilitator.ultravioletadao.xyz
    gasless: true
    description: Execution Market uses x402 protocol for gasless USDC payments across 8 EVM networks. Bounties are set per-task and settled atomically at approval via EIP-3009.
  x-refined-note:
  - x-source differs across the merged source definitions and was not carried
  description: 'Operations tagged World ID across 2 of this provider''s published API definitions: execution-market-openapi.json, execution-market-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.execution.market
  description: Production server
- url: http://localhost:8000
  description: Local development
security:
- erc8128: []
tags:
- name: World ID
  description: World ID 4.0 proof of humanity — RP signing, Orb-level verification.
paths:
  /api/v1/world-id/rp-signature:
    get:
      tags:
      - World ID
      summary: Get RP Signature for IDKit
      description: Generate a signed RP request for World ID IDKit initialization. The frontend uses this data to configure IDKit before prompting the user.
      operationId: get_rp_signature_api_v1_world_id_rp_signature_get
      parameters:
      - name: action
        in: query
        required: false
        schema:
          type: string
          default: verify-worker
          title: Action
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RPSignatureResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.execution.market
      description: Production server
    - url: http://localhost:8000
      description: Local development
  /api/v1/world-id/verify:
    post:
      tags:
      - World ID
      summary: Verify World ID Proof
      description: Verify a World ID ZK proof via the Cloud API, check nullifier uniqueness, store verification data, and update the executor profile.
      operationId: verify_world_id_api_v1_world_id_verify_post
      parameters:
      - name: authorization
        in: header
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Bearer <supabase_jwt>
          title: Authorization
        description: Bearer <supabase_jwt>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyWorldIdRequest'
      responses:
        '200':
          description: Verification successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyWorldIdResponse'
        '400':
          description: Invalid proof or already verified
        '409':
          description: Nullifier already used (sybil attempt)
        '503':
          description: World ID service unavailable
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    servers:
    - url: https://api.execution.market
      description: Production server
    - url: http://localhost:8000
      description: Local development
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    RPSignatureResponse:
      properties:
        nonce:
          type: string
          title: Nonce
        created_at:
          type: integer
          title: Created At
        expires_at:
          type: integer
          title: Expires At
        action:
          type: string
          title: Action
        signature:
          type: string
          title: Signature
        rp_id:
          type: string
          title: Rp Id
        app_id:
          type: string
          title: App Id
      type: object
      required:
      - nonce
      - created_at
      - expires_at
      - action
      - signature
      - rp_id
      - app_id
      title: RPSignatureResponse
      description: RP signature data for IDKit initialization.
    VerifyWorldIdResponse:
      properties:
        verified:
          type: boolean
          title: Verified
        verification_level:
          anyOf:
          - type: string
          - type: 'null'
          title: Verification Level
        message:
          type: string
          title: Message
      type: object
      required:
      - verified
      - message
      title: VerifyWorldIdResponse
      description: World ID verification result.
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
        input:
          title: Input
        ctx:
          type: object
          title: Context
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    VerifyWorldIdRequest:
      properties:
        nullifier_hash:
          type: string
          title: Nullifier Hash
          description: Unique nullifier hash for this person+app
        verification_level:
          type: string
          title: Verification Level
          description: '''orb'' or ''device'''
        executor_id:
          type: string
          title: Executor Id
          description: UUID of the executor being verified
        protocol_version:
          type: string
          title: Protocol Version
          description: IDKit protocol version ('3.0' or '4.0')
          default: '3.0'
        nonce:
          type: string
          title: Nonce
          description: Nonce from IDKit result
          default: ''
        action:
          type: string
          title: Action
          description: Action string used during proof generation
          default: verify-worker
        responses:
          anyOf:
          - items: {}
            type: array
          - type: 'null'
          title: Responses
          description: Raw IDKit responses array for v4 Cloud API
        proof:
          type: string
          title: Proof
          description: ZK proof (for DB storage)
          default: ''
        merkle_root:
          type: string
          title: Merkle Root
          description: Merkle root (for DB storage)
          default: ''
        signal:
          type: string
          title: Signal
          description: Signal used during proof generation
          default: ''
      additionalProperties: false
      type: object
      required:
      - nullifier_hash
      - verification_level
      - executor_id
      title: VerifyWorldIdRequest
      description: World ID proof verification request from frontend.
  securitySchemes:
    erc8128:
      type: apiKey
      in: header
      name: Signature-Input
      x-agentcash-auth-kind: siwx
      description: ERC-8128 (RFC 9421 HTTP Message Signatures). Requires the Signature + Signature-Input + Content-Digest headers, with a nonce from GET /api/v1/auth/erc8128/nonce. See https://execution.market/skill.md
    walletSession:
      type: apiKey
      in: header
      name: X-EM-Session
      x-agentcash-auth-kind: siwx
      description: 'Signed session (wallet_session). A SessionGrant this server builds at POST /api/v1/auth/session/challenge, signed by the wallet and replayed verbatim. For clients that cannot hash a request body and have no clock. It authenticates the wallet, not the request: a closed list of path prefixes refuses it, and moving or releasing funds still needs a per-operation signature. GET /api/v1/auth/info lists both. Disabled unless EM_WALLET_SESSION_ENABLED is on.'
    oauthBearer:
      type: oauth2
      description: 'OAuth 2.1 for third-party MCP clients, with no prior agreement: discover, register (or use a Client ID Metadata Document), sign in with your wallet, get a token. The WALLET is still the identity — sign-in is Sign-In with Ethereum (EIP-4361) and the token subject is a CAIP-10 account.


        Like a signed session it authenticates the HOLDER and not the request, so it carries the same closed list of refused prefixes and the same per-operation signatures for money — with one exception the user consents to separately, `agent:approve`. Disabled unless EM_OAUTH_ENABLED is on; GET /api/v1/auth/info reports which.'
      flows:
        authorizationCode:
          authorizationUrl: https://auth.execution.market/oauth/authorize
          tokenUrl: https://auth.execution.market/oauth/token
          refreshUrl: https://auth.execution.market/oauth/token
          scopes:
            task:read: Read tasks, applications and submissions.
            task:write: Edit a task you published, and assign a worker to it.
            task:cancel: Cancel a task you published.
            worker:apply: Apply to tasks as a worker on your behalf.
            worker:submit: Submit completed work on your behalf. Refused for bearer tokens in v1.
            worker:withdraw: Withdraw your earnings. Refused for bearer tokens.
            agent:publish: Publish tasks and service listings as you.
            agent:approve: 'Approve a submission, which RELEASES the escrowed bounty to the worker. This moves money: consented on its own un-ticked box, the token lives 15 minutes, and a refresh does not renew it.'
            reputation:rate: 'Rate a counterparty. Refused for bearer tokens: a rating is an act of its author.'
      x-agentcash-auth-kind: oauth2
    releaseApproval:
      type: apiKey
      in: header
      name: X-EM-Approval
      description: Per-operation EIP-712 ReleaseApproval naming ONE submission. Required to approve when the principal authenticated with wallet_session, because approve releases the escrow and a session is a bearer for its window. Build it at GET /api/v1/submissions/{submission_id}/approve/challenge.
    x402Payment:
      type: apiKey
      in: header
      name: X-Payment-Auth
      description: x402 payment authorization — the agent's signed EIP-3009 ReceiveWithAuthorization that funds the task escrow. Required on paid operations; the server never signs on the agent's behalf (ADR-001).
externalDocs:
  description: Full Documentation
  url: https://docs.execution.market
x-refined-from:
- execution-market-openapi.json
- execution-market-openapi.yml
